{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>

    <div class="mycontainer">
        <h1>Input Form</h1>
        <form action="{% url 'home' %}" method="post" id="myForm">
            {% csrf_token %}
            <input type="text" name="input" id="input">
            <button type="submit"> Submit </button>
        </form>
    </div>

    <div class="mycontainer">
        <h1>Output</h1>
        <p id="output"></p>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>